# Configuration des tests automatisés de contrôle de fichiers de données

[data-control : caban_erreurs]
  trace = ../../../TestCases/DataController/traces/CABAN_TAG_controle_donnees.txt
  profil = ../../../TestCases/DataController/profileFiles/CABAN_TAG_profil_Sonerion_schema.rng
  data = ../../../TestCases/DataController/datafiles/CABAN-versement-01-erreurs.txt
 
[data-control : sans_erreurs]
  trace = ../../../TestCases/DataController/traces/sans_erreurs_controle_donnees.txt
  profil = ../../../TestCases/DataController/profileFiles/CABAN_TAG_profil_Sonerion_schema.rng
  data = ../../../TestCases/DataController/datafiles/sans_erreurs.txt
 
[data-control : tags_profil]
  trace = ../../../TestCases/DataController/traces/tags_profil.txt
  profil = ../../../TestCases/DataController/profileFiles/CABAN_TAG_profil_Sonerion_ok_schema.rng
  data = ../../../TestCases/DataController/datafiles/sans_erreurs.txt
 
[data-control : tags_profil_complet_profil]
  trace = ../../../TestCases/DataController/traces/tags_profil_complet_profil.txt
  profil = ../../../TestCases/DataController/profileFiles/CABAN_TAG_profil_Sonerion_complet_schema.rng
  data = ../../../TestCases/DataController/datafiles/CABAN_complet.txt
 
[data-control : tags_profil_complet_donnees]
  trace = ../../../TestCases/DataController/traces/tags_profil_complet_donnees.txt
  profil = ../../../TestCases/DataController/profileFiles/CABAN_TAG_profil_Sonerion_complet_schema.rng
  data = ../../../TestCases/DataController/datafiles/CABAN_complet.txt
 
[data-control : tags_profil_complet_comparaison]
  trace = ../../../TestCases/DataController/traces/tags_profil_complet_comparaison.txt
  profil = ../../../TestCases/DataController/profileFiles/CABAN_TAG_profil_Sonerion_complet_schema.rng
  data = ../../../TestCases/DataController/datafiles/CABAN_complet.txt
 
[data-control : tags_donnees_incompletes_comparaison]
  trace = ../../../TestCases/DataController/traces/tags_donnees_incompletes_comparaison.txt
  profil = ../../../TestCases/DataController/profileFiles/CABAN_TAG_profil_Sonerion_complet_schema.rng
  data = ../../../TestCases/DataController/datafiles/CABAN_incomplet.txt
 
[data-control : donnees_profil_et_donnees]
  trace = ../../../TestCases/DataController/traces/donnees_fixees_profil-traces.txt
  profil = ../../../TestCases/DataController/profileFiles/donnees_fixees_profil_schema.rng
  data = ../../../TestCases/DataController/datafiles/donnees_fixees_profil.txt
 
[data-control : keywords_ok]
  trace = ../../../TestCases/DataController/traces/keywords_ok.txt
  profil = ../../../TestCases/DataController/profileFiles/CABAN_TAG_profil_Sonerion_keywords_schema.rng
  data = ../../../TestCases/DataController/datafiles/keywords_ok.txt
 
[data-control : keywords02_tagged]
  trace = ../../../TestCases/DataController/traces/keywords02_tagged.txt
  profil = ../../../TestCases/DataController/profileFiles/keyword02_tagged_schema.rng
  data = ../../../TestCases/DataController/datafiles/keywords02_tagged.txt
 
[data-control : keywords10_tagged]
  trace = ../../../TestCases/DataController/traces/keywords10_tagged.txt
  profil = ../../../TestCases/DataController/profileFiles/keyword10_tagged_schema.rng
  data = ../../../TestCases/DataController/datafiles/keywords10_tagged.txt
 
[data-control : keywords_untagged]
  trace = ../../../TestCases/DataController/traces/keywords_untagged.txt
  profil = ../../../TestCases/DataController/profileFiles/keyword_tunagged_schema.rng
  data = ../../../TestCases/DataController/datafiles/keywords_untagged.txt
 
[data-control : FilePlanPositionOK]
  trace = ../../../TestCases/DataController/traces/fileplanposition-traces.txt
  profil = ../../../TestCases/DataController/profileFiles/fileplanposition_schema.rng
  data = ../../../TestCases/DataController/datafiles/fileplanposition-ok.txt

[data-control : FilePlanPositionERREUR]
  trace = ../../../TestCases/DataController/traces/fileplanposition-erreur-traces.txt
  profil = ../../../TestCases/DataController/profileFiles/fileplanposition_schema.rng
  data = ../../../TestCases/DataController/datafiles/fileplanposition-erreur.txt

[data-control : PES_MANUEL_V10]
	trace = ../../../TestCases/DataController/traces/PES_MANUEL_data_v10-traces.txt
	profil = ../../../TestCases/DataController/profileFiles/DEP56_PROFIL_PES_0001_20170418_v10_schema.rng
	data = ../../../TestCases/DataController/datafiles/PES_MANUEL_data.txt

[data-control : AvecBaliseArchivalAgreement]
	 trace = ../../../TestCases/DataController/traces/profil_baliseArchivalAgreementFalcultative-data-traces.txt
	 profil = ../../../TestCases/DataController/profileFiles/profil_baliseArchivalAgreementFalcultative_schema.rng
	 data = ../../../TestCases/DataController/datafiles/profil_baliseArchivalAgreementFalcultative_data.txt