# Configuration des tests automatisés de contrôle de fichiers de données

[data-control : caban_erreurs]
  trace = ../../../TestCases/DataController/traces/CABAN_TAG_controle_donnees.traces
  profil = ../../../TestCases/DataController/profiles/CABAN_TAG_profil_Sonerion_schema.rng
  data = ../../../TestCases/DataController/datafiles/CABAN-versement-01-erreurs.txt
 
