# Configuration des tests automatisés de contrôle de fichiers de données

[data-control : caban_erreurs]
  trace = ../../../TestCases/DataController/traces/CABAN_TAG_controle_donnees.txt
  profil = ../../../TestCases/DataController/profileFiles/CABAN_TAG_profil_Sonerion_schema.rng
  data = ../../../TestCases/DataController/datafiles/CABAN-versement-01-erreurs.txt
 
[data-control : sans_erreurs]
  trace = ../../../TestCases/DataController/traces/sans_erreurs_controle_donnees.txt
  profil = ../../../TestCases/DataController/profileFiles/CABAN_TAG_profil_Sonerion_schema.rng
  data = ../../../TestCases/DataController/datafiles/sans_erreurs.txt
 
[data-control : tags_profil]
  trace = ../../../TestCases/DataController/traces/tags_profil.txt
  profil = ../../../TestCases/DataController/profileFiles/CABAN_TAG_profil_Sonerion_ok_schema.rng
  data = ../../../TestCases/DataController/datafiles/sans_erreurs.txt
 
[data-control : tags_profil_complet_profil]
  trace = ../../../TestCases/DataController/traces/tags_profil_complet_profil.txt
  profil = ../../../TestCases/DataController/profileFiles/CABAN_TAG_profil_Sonerion_complet_schema.rng
  data = ../../../TestCases/DataController/datafiles/CABAN_complet.txt
 
[data-control : tags_profil_complet_donnees]
  trace = ../../../TestCases/DataController/traces/tags_profil_complet_donnees.txt
  profil = ../../../TestCases/DataController/profileFiles/CABAN_TAG_profil_Sonerion_complet_schema.rng
  data = ../../../TestCases/DataController/datafiles/CABAN_complet.txt
 
[data-control : tags_profil_complet_comparaison]
  trace = ../../../TestCases/DataController/traces/tags_profil_complet_comparaison.txt
  profil = ../../../TestCases/DataController/profileFiles/CABAN_TAG_profil_Sonerion_complet_schema.rng
  data = ../../../TestCases/DataController/datafiles/CABAN_complet.txt
 
[data-control : tags_donnees_incompletes_comparaison]
  trace = ../../../TestCases/DataController/traces/tags_donnees_incompletes_comparaison.txt
  profil = ../../../TestCases/DataController/profileFiles/CABAN_TAG_profil_Sonerion_complet_schema.rng
  data = ../../../TestCases/DataController/datafiles/CABAN_incomplet.txt
 
[data-control : keywords_ok]
  trace = ../../../TestCases/DataController/traces/keywords_ok.txt
  profil = ../../../TestCases/DataController/profileFiles/CABAN_TAG_profil_Sonerion_keywords_schema.rng
  data = ../../../TestCases/DataController/datafiles/keywords_ok.txt
 
