<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<timestamp key="byDay" datePattern="yyyyMMdd"/>
	
	<appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
		<file>logging-${byDay}.log</file>
		<append>true</append>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d [%thread] %-5level  %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%thread] %-5level  %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
	
	<root level="INFO">
		<appender-ref ref="fileAppender" />
		<appender-ref ref="consoleAppender" />
	</root>
</configuration>