# Configurations de test de profils

# Les sections sont profile-control, generator, data-control
# data-control n'est pas encore opérationnelle

# Chaque section peut contenir une tâche par défait nommée default

[profile-control : default]
  trace = ../TestCases/ProfileController/traces/trace-description_contenu_keyword.txt
  profil = ../TestCases/ProfileController/profiles/description_contenu_keyword_schema.rng
  
[profile-control : exemple1]
  trace = ./work/trace-control.txt
  profil = ./profiles-and-data-examples/repetition_une_unite-trois_documents-optionnels_schema.rng
  
[data-control : exemple1]
  trace = ./work/fichier-de-trace.txt
  profil = ./profiles-and-data-examples/repetition_une_unite-trois_documents-optionnels_schema.rng
  data = ./profiles-and-data-examples/fichier-de-donnees-metier.txt
  
[generator : exemple1]
  trace = ./work/traces_repetition_deux_unites_avec_sous_unites.txt
  accord = CG56_ACCORD_MARCHE_TEST_8
  data = ./profiles-and-data-examples/liste_repetition_deux_unites_avec_sous_unites.txt
  rep_documents = ./profiles-and-data-examples/
  baseURI = http://test
  bordereau = ./work/bordereau_repetition_deux_unites_avec_sous_unites.xml

