# Configurations de test de profils

[profile-control : exemple1]
  trace = ./work/trace-control.txt
  profil = ./profiles-and-data-examples/repetition_une_unite-trois_documents-optionnels_schema.rng
  
[data-control : exaeple1]
  trace = ./work/fichier-de-trace.txt
  profil = ./profiles-and-data-examples/repetition_une_unite-trois_documents-optionnels_schema.rng
  data = ./profiles-and-data-examples/fichier-de-donnees-metier.txt
  
[generator : exemple1]
  trace = ./work/traces_repetition_deux_unites_avec_sous_unites.txt
  accord = CG56_ACCORD_MARCHE_TEST_8
  data = ./profiles-and-data-examples/liste_repetition_deux_unites_avec_sous_unites.txt
  rep_documents = ./profiles-and-data-examples/
  baseURI = http://test
  bordereau = ./work/bordereau_repetition_deux_unites_avec_sous_unites.xml

