# Configurations de test de profils et de génération de bordereaux

# Les sections sont accord-versement, profile-control, generator, data-control
# data-control n'est pas encore opérationnelle

# Les sections profile-control, generator, data-control servent à décrire les tâches à réaliser
# Chaque section peut contenir une tâche par défaut nommée default qui sera exécutée si aucun
# nom de tâche n'est précisé à l'exécution

# La section accord-versement sert à enregistrer les informations liées aux accords de versement
# Elle n'est utile que pour les tâches generator
# Toutes les sections doivent être nommées par l'identifiant de l'accord de versement

# ATTENTION | L'existence d'une section accord-versement implique que l'on n'utilise plus la base de données
# ATTENTION | Plusieurs sections accord-versement peuvent avoir le même identifiant d'accord de versement
# ATTENTION |   car un même accord de versement peut exister sur plusieurs SAE
# ATTENTION | La génération des identifiants de transfert passe alors par un calcul d'empreinte du fichier
# ATTENTION |   de données et la date du transfert

#	[accord-versement : IdAccordVersement]
#		SAE_Serveur = http://test
#		TransferIdPrefix = PREFIX_
#		SAE_ProfilArchivage = chemin-vers-fichier
#		TransferringAgencyId = TA_ID
#		TransferringAgencyName = TA_NAME
#		TransferringAgencyDesc = TA_DESC
#		ArchivalAgencyId = AA_ID
#		ArchivalAgencyName = AA_NAME
#		ArchivalAgencyDesc = AA_DESC

[profile-control : default]
  trace = ../TestCases/ProfileController/traces/trace-description_contenu_keyword.txt
  profil = ../TestCases/ProfileController/profiles/description_contenu_keyword_schema.rng
  
[profile-control : exemple1]
  trace = ./work/trace-control.txt
  profil = ./profiles-and-data-examples/repetition_une_unite-trois_documents-optionnels_schema.rng
  
[data-control : exemple1]
  trace = ./work/fichier-de-trace.txt
  profil = ./profiles-and-data-examples/repetition_une_unite-trois_documents-optionnels_schema.rng
  data = ./profiles-and-data-examples/fichier-de-donnees-metier.txt
  
[generator : exemple1]
  trace = ./work/traces_repetition_deux_unites_avec_sous_unites.txt
  accord = CG56_ACCORD_MARCHE_TEST_8
  data = ./profiles-and-data-examples/liste_repetition_deux_unites_avec_sous_unites.txt
  rep_documents = ./profiles-and-data-examples/
  baseURI = http://test
  bordereau = ./work/bordereau_repetition_deux_unites_avec_sous_unites.xml

