# Configuration des tests automatisés de contrôle de profils

[profile-control : tag_doclist]
  trace = ../../../TestCases/ProfileController/traces/profil_erreurs_tags_doclist_identification-traces.txt
  profil = ../../../TestCases/ProfileController/profiles/profil_erreurs_tags_doclist_identification.rng
  
