<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <!-- DEB : Transfert vers Asalaé -->
    <!-- Pas utilisé, ces informations sont demandées par l'appelant des web services -->
    <add key="BaseURI" value="https://pre-prodsae-dep56-e-megalis.navaho.fr" />
    <add key="User" value="web-service" />
    <add key="Pass" value="qyUhi7lS2893YQ3JWYL8" />
    <add key="Mail" value ="patrick.percot@morbihan.fr"/>
    <!-- FIN : Transfert vers Asalaé -->

  </appSettings>

</configuration>