# Configuration des tests automatisés de contrôle de profils

[generator : repetition_une_unite_seda02]
# Test avec le SEDA 0.2 de la répétition d'une unité (le profil est au format SEDA 0.2, les données sont identiques au testcase 2)
	trace        	= ../../../TestCases/ProfileGenerator/traces/repetition_une_unite-1-traces.txt
	accord   		= CG56_ACCORD_MARCHE_TESTCASE_1
	data    		= ../../../TestCases/ProfileGenerator/datafiles/liste_repetition_une_unite-1.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/repetition_une_unite-1-bordereau.xml

[generator : repetition_une_unite_seda10]
# Test avec le SEDA 1.0 de la répétition d'une unité (le profil est au format SEDA 1.0, les données sont identiques au testcase 1)
	trace        	= ../../../TestCases/ProfileGenerator/traces/repetition_une_unite-1-traces.txt
	accord   		= CG56_ACCORD_MARCHE_TESTCASE_2
	data    		= ../../../TestCases/ProfileGenerator/datafiles/liste_repetition_une_unite-1.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/repetition_une_unite-1-seda10-bordereau.xml

[generator : liste-fichiers_2-1-01]
# Onglet 2 : Chapitre 1 - Cardinalité 1,1 (Unité documentaire obligatoire et unique)
# Génération d'un bordereau avec une unité documentaire obligatoire et unique
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_2-1-01.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/2_Cardinalite_UD/liste-fichiers_2-1-01.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_2-1-01.xml

[generator : liste-fichiers_2-1-02]
# Onglet 2 : Chapitre 1 - Cardinalité 1,1 (Unité documentaire obligatoire et unique)
# Absence de document dans une unité obligatoire et unique
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_2-1-02.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/2_Cardinalite_UD/liste-fichiers_2-1-02.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_2-1-02.xml

[generator : liste-fichiers_2-1-03]
# Onglet 2 : Chapitre 1 - Cardinalité 1,1 (Unité documentaire obligatoire et unique)
# Présence de deux unités documentaires à l'emplacement d'une unité documentaire obligatoire et unique
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_2-1-03.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/2_Cardinalite_UD/liste-fichiers_2-1-03.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_2-1-03.xml

[generator : liste-fichiers_2-2-01]
# Onglet 2 : Chapitre 2 - Cardinalité 1,n (Unité documentaire obligatoire et répétable)
# Génération d'un bordereau avec une unité documentaire obligatoire et répétable
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_2-2-01.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/2_Cardinalite_UD/liste-fichiers_2-2-01.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_2-2-01.xml

[generator : liste-fichiers_2-2-02]
# Onglet 2 : Chapitre 2 - Cardinalité 1,n (Unité documentaire obligatoire et répétable)
# Génération d'un bordereau avec 2 unités documentaires obligatoires et répétable ayant le même tag
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_2-2-02.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/2_Cardinalite_UD/liste-fichiers_2-2-02.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_2-2-02.xml

[generator : liste-fichiers_2-2-03]
# Onglet 2 : Chapitre 2 - Cardinalité 1,n (Unité documentaire obligatoire et répétable)
# Absence de document dans une unité obligatoire et répétable
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_2-2-03.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/2_Cardinalite_UD/liste-fichiers_2-2-03.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_2-2-03.xml

[generator : liste-fichiers_2-3-01]
# Onglet 2 : Chapitre 3 - Cardinalité 0,1 (Unité documentaire facultative et unique)
# Génération du bordereau avec un document dans une unité facultative et unique
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_2-3-01.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/2_Cardinalite_UD/liste-fichiers_2-3-01.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_2-3-01.xml

[generator : liste-fichiers_2-3-02]
# Onglet 2 : Chapitre 3 - Cardinalité 0,1 (Unité documentaire facultative et unique)
# Génération du bordereau sans document dans l'unité facultative et unique
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_2-3-02.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/2_Cardinalite_UD/liste-fichiers_2-3-02.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_2-3-02.xml

[generator : liste-fichiers_2-3-03]
# Onglet 2 : Chapitre 3 - Cardinalité 0,1 (Unité documentaire facultative et unique)
# Présence de deux unités documentaires à l'emplacement d'une unité facultative et unique
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_2-3-03.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/2_Cardinalite_UD/liste-fichiers_2-3-03.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_2-3-03.xml

[generator : liste-fichiers_2-4-01]
# Onglet 2 : Chapitre 4 - Cardinalité 0,n (Unité documentaire facultative et répétable)
# Génération d'un bordereau avec une unité facultative et répétable
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_2-4-01.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/2_Cardinalite_UD/liste-fichiers_2-4-01.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_2-4-01.xml

[generator : liste-fichiers_2-4-02]
# Onglet 2 : Chapitre 4 - Cardinalité 0,n (Unité documentaire facultative et répétable)
# Génération d'un bordereau avec 2 unités documentaires facultatives et répétables ayant le même tag
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_2-4-02.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/2_Cardinalite_UD/liste-fichiers_2-4-02.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_2-4-02.xml

[generator : liste-fichiers_2-4-03]
# Onglet 2 : Chapitre 4 - Cardinalité 0,n (Unité documentaire facultative et répétable)
# Génération d'un bordereau sans document dans l'unité facultative et répétable
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_2-4-03.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/2_Cardinalite_UD/liste-fichiers_2-4-03.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_2-4-03.xml

[generator : liste-fichiers_4-1-01]
# Onglet 4 : Chapitre 1 - Deux documents (au moins) dont la cardinalité est 1,1 (Document obligatoire et unique)
# Génération d'un bordereau sans document dans l'unité facultative et répétable
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_4-1-01.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/4_2_types_documents/liste-fichiers_4-1-01.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_4-1-01.xml

[generator : liste-fichiers_4-1-02]
# Onglet 4 : Chapitre 1 - Deux documents (au moins) dont la cardinalité est 1,1 (Document obligatoire et unique)
# Présence de 2 (ou plus) documents dans le premier type de document et un seul document dans le second
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_4-1-02.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/4_2_types_documents/liste-fichiers_4-1-02.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_4-1-02.xml

[generator : liste-fichiers_4-1-03]
# Onglet 4 : Chapitre 1 - Deux documents (au moins) dont la cardinalité est 1,1 (Document obligatoire et unique)
# Présence d'un seul document dans le premier type de document et 2 (ou plus) dans le second
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_4-1-03.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/4_2_types_documents/liste-fichiers_4-1-03.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_4-1-03.xml

[generator : liste-fichiers_4-1-04]
# Onglet 4 : Chapitre 1 - Deux documents (au moins) dont la cardinalité est 1,1 (Document obligatoire et unique)
# Présence de 2 documents dans chaque type de document
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_4-1-04.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/4_2_types_documents/liste-fichiers_4-1-04.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_4-1-04.xml

[generator : liste-fichiers_4-1-05]
# Onglet 4 : Chapitre 1 - Deux documents (au moins) dont la cardinalité est 1,1 (Document obligatoire et unique)
# Absence de document dans l'un des types de document
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_4-1-05.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/4_2_types_documents/liste-fichiers_4-1-05.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_4-1-05.xml

[generator : liste-fichiers_4-1-06]
# Onglet 4 : Chapitre 1 - Deux documents (au moins) dont la cardinalité est 1,1 (Document obligatoire et unique)
# Absence de document dans les 2 types de documents
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_4-1-06.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/4_2_types_documents/liste-fichiers_4-1-06.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_4-1-06.xml

[generator : liste-fichiers_4-2-01]
# Onglet 4 : Chapitre 2 - Deux documents dont la cardinalité est 1,n
# Génération du bordereau avec un document par type de document
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_4-2-01.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/4_2_types_documents/liste-fichiers_4-2-01.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_4-2-01.xml

[generator : liste-fichiers_4-2-02]
# Onglet 4 : Chapitre 2 - Deux documents dont la cardinalité est 1,n
# Génération du bordereau avec plusieurs documents dans chaque type de document
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_4-2-02.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/4_2_types_documents/liste-fichiers_4-2-02.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_4-2-02.xml

[generator : liste-fichiers_4-2-03]
# Onglet 4 : Chapitre 2 - Deux documents dont la cardinalité est 1,n
# Absence de document dans l'un des types de document
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_4-2-03.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/4_2_types_documents/liste-fichiers_4-2-03.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_4-2-03.xml

[generator : liste-fichiers_4-2-04]
# Onglet 4 : Chapitre 2 - Deux documents dont la cardinalité est 1,n
# Absence de document dans les 2 types de documents
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_4-2-04.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/4_2_types_documents/liste-fichiers_4-2-04.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_4-2-04.xml

[generator : liste-fichiers_4-3-01]
# Onglet 4 : Chapitre 3 - Deux documents dont la cardinalité est 0,1
# Génération du bordereau avec un document par type de document
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_4-3-01.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/4_2_types_documents/liste-fichiers_4-3-01.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_4-3-01.xml

[generator : liste-fichiers_4-3-02]
# Onglet 4 : Chapitre 3 - Deux documents dont la cardinalité est 0,1
# Génération d'un bordereau sans document dans l'un des types de document
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_4-3-02.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/4_2_types_documents/liste-fichiers_4-3-02.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_4-3-02.xml

[generator : liste-fichiers_4-3-03]
# Onglet 4 : Chapitre 3 - Deux documents dont la cardinalité est 0,1
# Génération du bordereau sans document dans les 2 types de documents
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_4-3-03.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/4_2_types_documents/liste-fichiers_4-3-03.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_4-3-03.xml

[generator : liste-fichiers_4-3-04]
# Onglet 4 : Chapitre 3 - Deux documents dont la cardinalité est 0,1
# Présence de 2 documents dans un des types de document
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_4-3-04.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/4_2_types_documents/liste-fichiers_4-3-04.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_4-3-04.xml

[generator : liste-fichiers_4-3-05]
# Onglet 4 : Chapitre 3 - Deux documents dont la cardinalité est 0,1
# Présence de 2 documents dans chaque type de document
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_4-3-05.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/4_2_types_documents/liste-fichiers_4-3-05.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_4-3-05.xml

[generator : liste-fichiers_4-4-01]
# Onglet 4 : Chapitre 4 - Deux documents dont la cardinalité est 0,n
# Génération du bordereau avec un document par type de document
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_4-4-01.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/4_2_types_documents/liste-fichiers_4-4-01.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_4-4-01.xml

[generator : liste-fichiers_4-4-02]
# Onglet 4 : Chapitre 4 - Deux documents dont la cardinalité est 0,n
# Génération du bordereau avec plusieurs documents dans chaque type de document
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_4-4-02.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/4_2_types_documents/liste-fichiers_4-4-02.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_4-4-02.xml

[generator : liste-fichiers_4-4-03]
# Onglet 4 : Chapitre 4 - Deux documents dont la cardinalité est 0,n
# Génération d'un bordereau sans document dans l'un des types de document
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_4-4-03.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/4_2_types_documents/liste-fichiers_4-4-03.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_4-4-03.xml

[generator : liste-fichiers_4-4-04]
# Onglet 4 : Chapitre 4 - Deux documents dont la cardinalité est 0,n
# Génération du bordereau sans document dans les 2 types de documents
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_4-4-04.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/4_2_types_documents/liste-fichiers_4-4-04.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_4-4-04.xml

[generator : liste-fichiers_3-1-01]
# Onglet 3 : Chapitre 1 - Cardinalité 1,1 (Document obligatoire et unique)
# Génération d'un bordereau avec un document obligatoire et unique
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_3-1-01.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/3_Cardinalite_Document/liste-fichiers_3-1-01.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_3-1-01.xml

[generator : liste-fichiers_3-1-02]
# Onglet 3 : Chapitre 1 - Cardinalité 1,1 (Document obligatoire et unique)
# Absence du document obligatoire et unique
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_3-1-02.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/3_Cardinalite_Document/liste-fichiers_3-1-02.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_3-1-02.xml

[generator : liste-fichiers_3-1-03]
# Onglet 3 : Chapitre 1 - Cardinalité 1,1 (Document obligatoire et unique)
# Présence de deux documents à l'emplacement d'un document obligatoire et unique
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_3-1-03.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/3_Cardinalite_Document/liste-fichiers_3-1-03.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_3-1-03.xml

[generator : liste-fichiers_3-2-01]
# Onglet 3 : Chapitre 2 - Cardinalité 1,n (Document obligatoire et répétable)
# Génération d'un bordereau avec un document obligatoire et répétable
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_3-2-01.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/3_Cardinalite_Document/liste-fichiers_3-2-01.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_3-2-01.xml

[generator : liste-fichiers_3-2-02]
# Onglet 3 : Chapitre 2 - Cardinalité 1,n (Document obligatoire et répétable)
# Génération d'un bordereau avec deux documents obligatoires et répétables ayant le même tag
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_3-2-02.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/3_Cardinalite_Document/liste-fichiers_3-2-02.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_3-2-02.xml

[generator : liste-fichiers_3-2-03]
# Onglet 3 : Chapitre 2 - Cardinalité 1,n (Document obligatoire et répétable)
# Absence de document obligatoire
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_3-2-03.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/3_Cardinalite_Document/liste-fichiers_3-2-03.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_3-2-03.xml

[generator : liste-fichiers_3-3-01]
# Onglet 3 : Chapitre 3 - Cardinalité 0,1 (Document facutlatif et unique)
# Génération du bordereau avec un document facultatif et unique
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_3-3-01.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/3_Cardinalite_Document/liste-fichiers_3-3-01.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_3-3-01.xml

[generator : liste-fichiers_3-3-02]
# Onglet 3 : Chapitre 3 - Cardinalité 0,1 (Document facutlatif et unique)
# Génération du bordereau sans document facultatif et unique
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_3-3-02.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/3_Cardinalite_Document/liste-fichiers_3-3-02.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_3-3-02.xml

[generator : liste-fichiers_3-3-03]
# Onglet 3 : Chapitre 3 - Cardinalité 0,1 (Document facutlatif et unique)
# Présence de deux documents à l'emplacement d'un document facultatif et unique
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_3-3-03.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/3_Cardinalite_Document/liste-fichiers_3-3-03.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_3-3-03.xml

[generator : liste-fichiers_3-4-01]
# Onglet 3 : Chapitre 4 - Cardinalité 0,n (Document facultatif et répétable)
# Génération d'un bordereau avec un document facultatif et répétable
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_3-4-01.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/3_Cardinalite_Document/liste-fichiers_3-4-01.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_3-4-01.xml

[generator : liste-fichiers_3-4-02]
# Onglet 3 : Chapitre 4 - Cardinalité 0,n (Document facultatif et répétable)
# Génération d'un bordereau avec 2 documents facultatifs et répétables ayant le même tag
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_3-4-02.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/3_Cardinalite_Document/liste-fichiers_3-4-02.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_3-4-02.xml

[generator : liste-fichiers_3-4-03]
# Onglet 3 : Chapitre 4 - Cardinalité 0,n (Document facultatif et répétable)
# Génération d'un bordereau sans document facultatif et répétable
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_3-4-03.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/3_Cardinalite_Document/liste-fichiers_3-4-03.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_3-4-03.xml

[generator : 06_Chapitre1]
  trace = ../../../TestCases/ProfileGenerator/traces/06_Chapitre1.txt
  accord = CG56_ACCORD_MARCHE_TEST_TAGS
  data = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/06_Chapitre1.txt
  rep_documents = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/
  baseURI = http://test
  bordereau = ../../../TestCases/ProfileGenerator/results/bordereau_06_Chapitre1.xml

[generator : 06_Chapitre2-01]
  trace = ../../../TestCases/ProfileGenerator/traces/06_Chapitre2-01.txt
  accord = CG56_ACCORD_MARCHE_TEST_TAGS
  data = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/06_Chapitre2-01.txt
  rep_documents = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/
  baseURI = http://test
  bordereau = ../../../TestCases/ProfileGenerator/results/bordereau_06_Chapitre2-01.xml

[generator : 06_Chapitre2-02]
  trace = ../../../TestCases/ProfileGenerator/traces/06_Chapitre2-02.txt
  accord = CG56_ACCORD_MARCHE_TEST_TAGS
  data = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/06_Chapitre2-02.txt
  rep_documents = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/
  baseURI = http://test
  bordereau = ../../../TestCases/ProfileGenerator/results/bordereau_06_Chapitre2-02.xml

[generator : 06_Chapitre2-03]
  trace = ../../../TestCases/ProfileGenerator/traces/06_Chapitre2-03.txt
  accord = CG56_ACCORD_MARCHE_TEST_TAGS
  data = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/06_Chapitre2-03.txt
  rep_documents = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/
  baseURI = http://test
  bordereau = ../../../TestCases/ProfileGenerator/results/bordereau_06_Chapitre2-03.xml

[generator : 06_Chapitre2-04]
  trace = ../../../TestCases/ProfileGenerator/traces/06_Chapitre2-04.txt
  accord = CG56_ACCORD_MARCHE_TEST_TAGS
  data = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/06_Chapitre2-04.txt
  rep_documents = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/
  baseURI = http://test
  bordereau = ../../../TestCases/ProfileGenerator/results/bordereau_06_Chapitre2-04.xml

[generator : 06_Chapitre2-05]
  trace = ../../../TestCases/ProfileGenerator/traces/06_Chapitre2-05.txt
  accord = CG56_ACCORD_MARCHE_TEST_TAGS
  data = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/06_Chapitre2-05.txt
  rep_documents = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/
  baseURI = http://test
  bordereau = ../../../TestCases/ProfileGenerator/results/bordereau_06_Chapitre2-05.xml

[generator : 06_Chapitre2-06]
  trace = ../../../TestCases/ProfileGenerator/traces/06_Chapitre2-06.txt
  accord = CG56_ACCORD_MARCHE_TEST_TAGS
  data = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/06_Chapitre2-06.txt
  rep_documents = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/
  baseURI = http://test
  bordereau = ../../../TestCases/ProfileGenerator/results/bordereau_06_Chapitre2-06.xml

[generator : 06_Chapitre2-07]
  trace = ../../../TestCases/ProfileGenerator/traces/06_Chapitre2-07.txt
  accord = CG56_ACCORD_MARCHE_TEST_TAGS
  data = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/06_Chapitre2-07.txt
  rep_documents = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/
  baseURI = http://test
  bordereau = ../../../TestCases/ProfileGenerator/results/bordereau_06_Chapitre2-07.xml

[generator : 06_Chapitre2-08]
  trace = ../../../TestCases/ProfileGenerator/traces/06_Chapitre2-08.txt
  accord = CG56_ACCORD_MARCHE_TEST_TAGS
  data = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/06_Chapitre2-08.txt
  rep_documents = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/
  baseURI = http://test
  bordereau = ../../../TestCases/ProfileGenerator/results/bordereau_06_Chapitre2-08.xml

[generator : 06_Chapitre2-09]
  trace = ../../../TestCases/ProfileGenerator/traces/06_Chapitre2-09.txt
  accord = CG56_ACCORD_MARCHE_TEST_TAGS
  data = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/06_Chapitre2-09.txt
  rep_documents = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/
  baseURI = http://test
  bordereau = ../../../TestCases/ProfileGenerator/results/bordereau_06_Chapitre2-09.xml

[generator : 06_Chapitre2-10]
  trace = ../../../TestCases/ProfileGenerator/traces/06_Chapitre2-10.txt
  accord = CG56_ACCORD_MARCHE_TEST_TAGS
  data = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/06_Chapitre2-10.txt
  rep_documents = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/
  baseURI = http://test
  bordereau = ../../../TestCases/ProfileGenerator/results/bordereau_06_Chapitre2-10.xml

[generator : 06_Chapitre2-11]
  trace = ../../../TestCases/ProfileGenerator/traces/06_Chapitre2-11.txt
  accord = CG56_ACCORD_MARCHE_TEST_TAGS
  data = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/06_Chapitre2-11.txt
  rep_documents = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/
  baseURI = http://test
  bordereau = ../../../TestCases/ProfileGenerator/results/bordereau_06_Chapitre2-11.xml

[generator : 06_Chapitre2-12]
  trace = ../../../TestCases/ProfileGenerator/traces/06_Chapitre2-12.txt
  accord = CG56_ACCORD_MARCHE_TEST_TAGS
  data = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/06_Chapitre2-12.txt
  rep_documents = ../../../TestCases/ProfileGenerator/datafiles/6_Presence_metadonnees/
  baseURI = http://test
  bordereau = ../../../TestCases/ProfileGenerator/results/bordereau_06_Chapitre2-12.xml

[generator : empreinte_taille_seda02]
# Test avec le SEDA 0.2 de la transmission par les données métier de la taille et de l'empreinte
	trace        	= ../../../TestCases/ProfileGenerator/traces/empreinte_taille-seda02-traces.txt
	accord   		= CG56_ACCORD_EMPREINTE_SEDA_02
	data    		= ../../../TestCases/ProfileGenerator/datafiles/empreinte_taille.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/empreinte_taille-seda02-bordereau.xml

[generator : empreinte_taille_seda10]
# Test avec le SEDA 1.0 de la transmission par les données métier de la taille et de l'empreinte
	trace        	= ../../../TestCases/ProfileGenerator/traces/empreinte_taille-seda10-traces.txt
	accord   		= CG56_ACCORD_EMPREINTE_SEDA_10
	data    		= ../../../TestCases/ProfileGenerator/datafiles/empreinte_taille.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/empreinte_taille-seda10-bordereau.xml

