# Configuration des tests automatisés de contrôle de profils

[generator : repetition_une_unite]
	trace        	= ../../../TestCases/ProfileGenerator/traces/repetition_une_unite-1-traces.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_1
	data    		= ../../../TestCases/ProfileGenerator/datafiles/liste_repetition_une_unite-1.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/repetition_une_unite-1-bordereau.xml

	