# Configuration des tests automatisés de contrôle de profils

[generator : repetition_une_unite_seda02]
# Test avec le SEDA 0.2 de la répétition d'une unité (le profil est au format SEDA 0.2, les données sont identiques au testcase 2)
	trace        	= ../../../TestCases/ProfileGenerator/traces/repetition_une_unite-1-traces.txt
	accord   		= CG56_ACCORD_MARCHE_TESTCASE_1
	data    		= ../../../TestCases/ProfileGenerator/datafiles/liste_repetition_une_unite-1.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/repetition_une_unite-1-bordereau.xml

[generator : repetition_une_unite_seda10]
# Test avec le SEDA 1.0 de la répétition d'une unité (le profil est au format SEDA 1.0, les données sont identiques au testcase 1)
	trace        	= ../../../TestCases/ProfileGenerator/traces/repetition_une_unite-1-traces.txt
	accord   		= CG56_ACCORD_MARCHE_TESTCASE_2
	data    		= ../../../TestCases/ProfileGenerator/datafiles/liste_repetition_une_unite-1.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/repetition_une_unite-1-seda10-bordereau.xml

[generator : liste-fichiers_2-1-01]
# Génération d'un bordereau avec une unité documentaire obligatoire et unique
	trace        	= ../../../TestCases/ProfileGenerator/traces/liste-fichiers_2-1-01.txt
	accord   		= CG56_ACCORD_MARCHE_TEST_CARDINALITES
	data    		= ../../../TestCases/ProfileGenerator/datafiles/liste-fichiers_2-1-01.txt
	rep_documents	= ../../../TestCases/ProfileGenerator/datafiles/DEPOT
	baseURI			= http://test
	bordereau 		= ../../../TestCases/ProfileGenerator/results/bordereau_2-1-01.xml

